/* Things to tweak:
Fix margins around buttons
Fix zero button
Fix display in input field
Fix dimensions
move to middle of page
flex container?
media queries
*/

body {
  background-color: white;
  width: 100%;
}

#backdrop {
  height: 662px;
  width: 355px;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#calculaterBground {
  background-color: black;
  height: 622px;
  width: 330px;
  position: absolute;
  z-index: -1;
  top: 28px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.calculator {
  height: 700px;
  width: 330px;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 40px;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#answer {
  background-color: black;
  width: 90%;
  margin-top: 100px;
  margin-bottom: 0;
  line-height: 60px;
  border: none;
  text-align: right;
  font-size: 2em;
  color: white;
}

.table {
  margin: 30px auto;
}

.grey {
  background-color: #aaa;
  color: black;
  border: none;
}

.orange {
  background-color: #f90;
}

button {
  background-color: #333;
  color: white;
  width: 67px;
  height: 67px;
  margin: 4px;
  border-radius: 50%;
  border: none;
  font-size: 1.5em;
  z-index: 1;
  position: relative;
}

#zero {
  float: left;
  margin-left: 50px;
  margin-top: 4px;
  background-color: #333;
  height: 67px;
  width: 72px;
  position: absolute;
  z-index: -2;
}

#invisible {
  color: #333;
}
