/* Make changes so it looks more the like the calculator we used to have at home as a kid" */

body {
  background-color: var(--darkTan);
  width: 100%;
}

/* Colours */
/* Change to colors from home calculator */
:root {
  --darkTan: #9b8f89;
  --tan: #f3eee7;
  --grey: #969194;
  --green: #c7c7b0;
  --darkGrey: #4b4657;
  --red: #cc4e5f;
}

.calculator {
  height: 315px;
  width: 250px;
  background-color: var(--tan);
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  border-top-left-radius: 80%15px;
  border-bottom-left-radius: 80%15px;
  border-top-right-radius: 80%15px;
  border-bottom-right-radius: 80%15px;
  /* Do shadow stuff */
}

#title {
  color: var(--darkGrey);
  padding-top: 10px;
  margin-bottom: -6px;
  font-family: "Pacifico", cursive;
}

#tagLine {
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.6em;
}

#answer {
  background-color: var(--green);
  width: 80%;
  line-height: 40px;
  border: 1px solid;
  border-color: var(--red);
}
/* Input box/numbers/buttons:
font-size & family,
direction?
padding and margins,
shadows. */

.table {
  margin: 10px auto;
}

.ctrl {
  background-color: var(--red);
  color: white;
}
/* set borders and border shadows */

/* .row {
  display: block;
} 

Remove row class?

*/

button {
  background-color: var(--darkTan);
  color: white;
  width: 40px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 6px;
  border-top-left-radius: 70%10px;
  border-bottom-left-radius: 70%10px;
  border-top-right-radius: 70%10px;
  border-bottom-right-radius: 70%10px;
  border: 1px solid;
  border-color: var(--darkGrey);
  font-size: 0.9em;
}
/* Buttons:
set focus and active state?. */

.tall {
  height: 65px;
  float: right;
  margin-right: 24px;
  margin-left: -7px;
}
